* {
    margin: 0;
    padding: 0;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important; 
  }
  #first-container {
    position: relative;
  }
  #first-container img{
    height: 500px;
  }
  #first-container-sub {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
  }
  #sign {
    position: fixed;
    top: 2%;
    right: 2%;
  z-index: 5;
    font-family: 'Archivo Black', sans-serif;
  }
  #sign a{
    text-decoration: none;
  }
  #sign-in {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 8px;
    border-radius: 30px;
  }
  #sign-up {
    background-color: white;
    padding: 8px;
    border-radius: 30px;
    color: black;
  }
  #sign-in a{
    color: white;
  }
  #sign-up a{
    color: black;
  }
  
  #search-bar {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
   width: 400px;
   position: relative;
   margin: auto;
    overflow: auto;
    margin-top: 20px;
    min-width: 20%;
  }
  
  input {
    background-color: transparent;
    border: none;
    float: left;
    margin-left: 5px;
    padding: 10px;
    outline: none;
    
  }
  #search-bar a i {
    background-color: rgba(128, 0, 0, 0.8);
    padding: 10px;
    border-radius: 100%;
    float: right;
    border: none;
    color: white;
  }
  #input i {
    float: left;
    padding: 10px;
    border-radius: 100%;
    color: rgba(211, 211, 211, 1);
  }
  ::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  }
  #sign-in-for {
    font-size: small;
    margin-top: 20px;
    position: absolute;
    top: 90%;
    text-align: center;
    width: 100%; 
    font-size: 30px;
    
  }
  #sign-in-for a i{
    text-decoration: none;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    color: black;
  }
  
  #text {
    font-family: 'Poppins', sans-serif;
    
  }
  h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    color: white;
  }
  
  #scoot-scoot-container {
    /*border: 1px solid red;*/
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: space-around;
    
  }
  #scoot-scoot {
  width: 20%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  }
  #scoot-scoot img{
    height: 150px;
  width: 100%;
  }
  #scoot-scoot a{
    color: orangered;
    text-decoration: none;
  }
  #scoot-scoot p{
    font-size: small;
  }
  #shop {
    width: 20%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  }
  #shop a{
    color: orangered;
    text-decoration: none;
  }
  #shop p{
    font-size: small;
  }
  #shop img{
    height: 150px;
  width: 100%;
  }
  #phone {
  width: 20%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  }
  #phone a{
    color: orangered;
    text-decoration: none;
  }
  #phone img{
    height: 150px;
  width: 100%;
  }
  #phone p{
    font-size: small;
  }
  #second-container{
    display: flex;
    justify-content: space-around;
    height: auto;
  }
  #second-container-text{
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    width: 30%;
  }
  #second-container-text p{
    font-size: small;
    margin-bottom: 25px;
  }
  #second-container-text h3{
    font-size: 30px;
  }
  #second-container-text h4{
    padding:10px 0 5px 0;
  }
  #second-container-text a{
    padding: 2%;
    font-size: 100%;
    background-color: orangered;
    border-radius: 20px;
    font-size: small;
    color: white;
    text-decoration: none;
  }
  #second-container-image{
    width: 49%;
    height: 450px;
  }
  #second-container-image img{
  width: 100%;
  height: 100%;   
  }
  #container-pink {
    background-color: rgba(255, 192, 203, 0.3);
    display: flex;
    justify-content: space-around;
    height: 550px;
    font-family: 'Poppins', sans-serif;
  
  }
  #container-pink-image {
    width: 49%;
    height: 450px;
    margin-top: 4%;
  }
  
  #container-pink-image img{
    height: 100%;
    width: 100%;
  }
  #container-pink-text {
  margin-top: 15%;
  width: 30%;
  }
  #container-pink-text a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 2%;
    font-size: 100%;
    border-radius: 20px;
  }
  #container-pink-text h3{
    font-size: 35px;
  }
  #container-fruits {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    
  }
  #container-fruits-image{
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
  }
  #container-fruits-image img{
    opacity: 0.5;
    height: 600px;
    width: 100%;
  }
  #container-fruits-text{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  #container-fruits-text h3{
    font-size: 35px;
  }
  #small-text{
    font-size: smaller;
  }
  #container-fruits-text a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 20px;
  }
  #container-items {
    display: flex;
    justify-content: space-around;
    height: 550px;
    font-family: 'Poppins', sans-serif;
  }
  #container-items-text {
    margin-top: 15%;
    width: 30%;
  }
  #container-items-image {
    width: 49%;
    height: 450px;
    margin-top: 4%;
  }
  #container-items-image img{
    width: 100%;
    height: 100%;
  }
  #container-items a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    font-size: 100%;
  }
  #container-items h3{
    font-size: 35px;
  }
  #container-items p{
    margin: 25px 0;
  }
  #grid-boxes {
    background-color: rgba(255, 192, 203, 0.3);
    
    /*padding: 50px;*/
    
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: auto;
  }
  #grid-boxes-set-1 {
    display: flex;
    justify-content: space-around;
  }
  #grid-boxes-set-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  #grid-boxes h2{
    padding: 40px 0;
    text-align: center;
    font-size: 35px;
    color: black;
  }
  #grid-boxes img{
    height: 500px;
    width: 100%;
  }
  #grid-boxes-image-1{
    width: 40%;
  }
  #grid-boxes-image-2{
    width: 40%;
  }
  #grid-boxes h3{
    font-size:150%;
  }
  #grid-boxes a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    font-size: 90%;
  }
  #grid-boxes p{
    padding: 20px 0;
    font-size: 90%;
  }
  #grid-boxes-image-3{
  
    width: 40%;
  }
  #grid-boxes-image-4{
    width: 40%;
    height: 30%;
  }
  #grid-boxes-image-4 img{
   /* height: 100%;*/
  }
  #container-dasher {
    color: black;
    height: auto;
  }
  #container-dasher h2{
    text-align: center;
    color: black;
    padding: 30px 0;
    margin: auto;
    font-size: 190%;
  }
  #container-dasher-text {
    width: 30%;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    height: 10%;
  }
  #container-dasher-text h3{
    font-size: 200%;
  }
  #container-dasher-image{
    width: 49%;
  
  }
  #container-dasher-image img{
    width: 100%;
    height: 450px;
  }
  #container-dasher-text a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    font-size: 90%;
  }
  #container-dasher-text p{
    margin: 20px 0;
  }
  #shopbag {
    background-color: rgba(255, 192, 203, 0.3);
    height: 550px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    height: auto;
  }
  #shopbag-text {
    width: 30%;
    margin-top: 10%;
  }
  #shopbag-image {
    margin-top: 4%;
    width: 49%;
  }
  #shopbag-image img{
    width: 100%;
    height: 450px;
  }
  #shopbag a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    font-size: 90%;
  }
  #shopbag h3{
    font-size: 150%;
  }
  #shopbag p{
    padding: 20px 0;
  }
  footer {
    background-color: black;
    
   margin-top: 3300px;
  /*position: sticky;
  bottom: 0;*/
    color: white;
  }
  td {
    width: 150px;
  }
  footer p{
    font-family: 'Poppins', sans-serif;
  }
  table {
    width: 500px;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
  }
  td {
    color: lightslategray;
    text-transform: capitalize;
  }
  #top-city a, #cuisine a{
    text-decoration: none;
    
  }
  #top-city {
   min-width: 37%;
  }
  #cuisine {
    min-width: 37%;
  }
  #popular table, #popular2 table{
    height: 100px;
  }
  #popular{
    width: 37%;
  }
  #popular2 {
    width: 37%;
  }
  li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding: 3px 0;
  }
  footer ul{
   
  }
  
  #second-list a,#third-list a,#firstlist a{
    text-decoration: none;
    color: lightslategray;
  }
  #second-list a:hover,#third-list a:hover,#firstlist a:hover{
    text-decoration: underline;
  }
  #footer-bottom {
    font-size: small;
    padding: 20px 0;
       width: 90%;
       margin: auto;
  }
  #footer-bottom a{
    color: lightslategray;
    padding: 0 15px;
    text-decoration: none;
  }
  #footer-bottom a:hover{
    text-decoration: underline;
  }
  #language {
    display: inline-block;
  }
  .globe,form {
    display: inline-block;
  }
  .globe { color:black;
    background-color: white;
    padding: 1.95px;
    font-size: 15px;
    border-radius: 20px;
  }
  .social {
    color: black;
    margin-left: 20px;
    font-size: 20px;
    color: lightslategray;
  }
  select {
    border: none;
    background-color: transparent;
  }
  .social i:hover{
    color: white;
  }
  /*#app-store {
    position: absolute;
    top: 500px;
    right: 6%;
   
   color: red;
   display: inline;
   border: 1px solid gold;
  }
  
  #app-store p{
   display: inline;
    
  }
  #app-store i{
    line-height: 1;
    vertical-align: middle;
  }*/